theme: jekyll-theme-chirpy

lang: ko
timezone: Asia/Seoul

title: scarfunk's blog
tagline: 개발,기타등등
description: >-
  개발,기타등등

url: "https://scarfunk.github.io"
baseurl: ""

github:
  username: scarfunk

social:
  name: scarfunk
  links:
    - https://github.com/scarfunk

avatar:

toc: true

comments:
  provider:

analytics:

permalink: /:year/:month/:day/:title/

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

paginate: 10
